<?php

namespace App\Repositories;

use App\Repositories\BaseRepository;
use App\Models\ModelName;

class Repository extends BaseRepository
{
    public function __construct(ModelName $modelInstance)
    {
        $this->model = $modelInstance;
    }
}
